body {
  font-family: Arial;
  padding: 20px;
}

.products {
  display: flex;
  gap: 20px;
}

.card {
  border: 1px solid #ccc;
  padding: 15px;
  width: 150px;
  text-align: center;
}

button {
  padding: 8px;
  background: green;
  color: white;
  border: none;
}

a {
  display: inline-block;
  margin: 10px 0;
}